<div class="experience-container" data-aos="fade-up" data-aos-duration="800">
    <h2 class="experience-title" data-aos="fade-right" data-aos-delay="100">
        <i class="fas fa-briefcase"></i> Experience
    </h2>

    <div class="experience-card" data-aos="zoom-in" data-aos-delay="200">
        <div class="header" data-aos="fade-right" data-aos-delay="300">
            <h3>Decimal Technologies Pvt Ltd</h3>
            <span class="date">June 2021 – Present</span>
        </div>
        <ul class="responsibilities">
            <li data-aos="fade-up" data-aos-delay="350">Developed a comprehensive dashboard highlighting data in charts
                and tables.</li>
            <li data-aos="fade-up" data-aos-delay="400">Developed secure and reliable web applications for banking
                sector companies.</li>
            <li data-aos="fade-up" data-aos-delay="450">Integrated features like eKYC, vKYC through implementing
                government APIs like UIDAI API for Aadhaar details in Angular.</li>
            <li data-aos="fade-up" data-aos-delay="500">Implemented reusable Angular components, services, and modules
                to ensure a scalable architecture.</li>
            <li data-aos="fade-up" data-aos-delay="550">Used Angular Reactive Forms and Template-driven Forms to manage
                complex form inputs and validations.</li>
        </ul>
    </div>
</div>